
<div class="sidebar">
    <a href="/" class="btn btn-primary">Back to login</a>
    <a href="http://github.com/jonnow/fastifyxspotify">View on <br>GitHub <img src='public/images/octocat.png' width='30' class='icon' /></a>
    <a href="https://ko-fi.com/jonnow0495" class="btn btn-primary">Buy me a coffee!☕</a>
</div>
<h2 class="welcomeMsg">Something went wrong</h2>
<div class="container">
    <p>Sorry, looks like something went wrong logging your error!</p>
    <p>The error logging has an error. Not ideal, I'll get onto fixing this!</p>
    <a href="/login" class="btn btn-primary">Return to login</a>
</div>