<div class="sidebar">
    <a href="https://ko-fi.com/jonnow0495" class="btn btn-primary">Buy me a coffee!☕</a>
</div>
<h2 class="welcomeMsg">Hello!</h2>
<div class="container-login">
    <p>Welcome to the <em>Fastify x Spotify connector</em> by <a href="https://www.jonnowitts.com">Jonno Witts</a>.</p>
    <p>This is a connector to Spotify built using the Fastify web framework for node.js. It uses several packages that work with Fastify to achieve this including cookies, node-fetch, form body.</p>
    <p>It's been created as an experiment and for educational purposes as I couldn't find an example of a specifically Fastify built connection to the Spotify API.</p>
    <a href="/login" class="btn btn-primary">Connect</a>
    <h3>Privacy and your data</h3>
    <p>This website uses cookies to keep your access available to you when using the app. You are giving the app permission to view your email, and modify your playlists. This is required in order to create a playlist (<a href="">read about this in the Spotify documentation</a>).</p>
    
    <p>In order to use this application you will need to give it permission to read certain data from Spotify. This includes your:</p>
    <ul>
        <li>display name</li>
        <li>username</li>
        <li>email address</li>
        <li>Spotify profile image</li>
        <li>Spotify link</li>
        <li>Spotify URI</li>
    </ul>
    <p>(clicking 'Connect' will take you to the Spotify owned permissions page where full detail of this can be found).</p>
    <p><strong>I do not and will not save or use your email address or any other Spotify data outlined above beyond this app. And I do not personally read any of this data.</strong></p>
    <p>More information about all of this can be found on the <a href="https://developer.spotify.com/documentation/general/guides/authorization/scopes/">Spotify developer portal</a> and the code for this application can be viewed on the <a href="https://github.com/jonnow/FastifyXSpotify">Github repo</a>.</p>
</div>