
<div class="sidebar">
    <a href="/" class="btn btn-primary">Back to login</a>
    <a href="http://github.com/jonnow/fastifyxspotify" class="btn btn-secondary">View on <br>GitHub <img src='public/images/octocat.png' width='30' class='icon' /></a>
    <a href="https://ko-fi.com/jonnow0495" class="btn btn-primary">Buy me a coffee!☕</a>
</div>
<h2 class="welcomeMsg">{{name}} has been successfully create!</h2>
<div class="container">
    <p>Your new playlist is waiting for you in <a href="{{href}}" class="btn btn-spotify">Spotify</a>!</p>
    <a href="/create-playlist" class="btn btn-primary">Create another?</a>
</div>