<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/ffo5clo.css">
    <link rel="stylesheet" href="public/css/main.css">
    <title>Fastify x Spotify - API Connector</title>
</head>
<body>
    <div class="grid-container">
        <b class="divider"></b>
        <h1 class="logo"><span class="prod">Fastify</span> <span class="by">x</span><span class="prod">Spotify</span></h1>
        {{{body}}}
    </div>
</body>
</html>